.header {
    background: #111; 
    padding: 15px 0;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 20px; */
}

.logo {
    display: flex;
    align-items: center;
}


.company-name {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.deep {
    color: #00aaff;
}
.soft{
    color: gray;
}

.nav-menu {
    display: flex;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-menu ul li {
    display: inline;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    transition: color 0.3s;
}

.nav-menu ul li a:hover {
    color: #00aaff;
}

.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

@media (max-width: 768px) {
    .nav-menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        background: #111;
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    .nav-menu.active {
        display: block;
    }

    .nav-menu ul {
        flex-direction: column;
        gap: 10px;
    }

    .menu-toggle {
        display: block;
    }
}
